@{
    ViewBag.Title = "Post Topic";
}

<div class="jumbotron" style="height: 70px;">
    <h3 style="font-family:cursive;margin-top:-25px; color:darkcyan;font-weight:600">Come on ! <br />Post your topic !</h3>
</div>