@{
    ViewBag.Title = "View Topic";
}

<!DOCTYPE html>

<div class="jumbotron" style="height: 10px;">
    <h3 style="font-family:cursive;margin-top:-20px; color:darkcyan;font-weight:600">Find hot topics !</h3>
</div>
