<html ng-app="testApp">
<head>
	<meta charset="utf-8">
	<title>Test Site</title>
	
	<script src="js/jquery-2.1.3.js" ></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js" ></script>
	

	<script src="js/app/app.js"></script>
	<script src="js/app/service/dataSvc.js"></script>
	<script src="js/app/controller/testCtrl.js"></script>	
	

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body ng-controller="testCtrl">
	<p>{{t.msg}}</p>
	<input type='button' value='click me to fetch the vip data' ng-click='fetchData()'/>
	<input type='button' value='click me to fetch the vip&customer common data' ng-click='fetch()'/>
	<table>
		<tr>
			<th>id</th>
			<th>name</th>
		</tr>
		<tr ng-repeat = 'item in viplist'>
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
		</tr>
	</table>

</body>
</html>